<%- include('bootheader') -%>

<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Welcome to my Homework 2 Website!</h1>
        <p> Use the menubar to find my form and search functions</p>
    </div>



<%- include('bootfooter') -%>
